.container {
  --background: linear-gradient(
    to bottom,
    #07005f 0%,
    #14007c 45%,
    #2f23a5 60%,
    #14007c 78%,
    #07005f 100%
  );

  position: relative;
  overflow: hidden;
}

/* EFEITO DE LUZ NO MEIO */
.container::before {
  content: "";
  position: absolute;
  width: 140%;
  height: 220px;
  left: -20%;
  top: 38%;

  background: radial-gradient(
    ellipse at center,
    rgba(123, 110, 255, 0.55) 0%,
    rgba(123, 110, 255, 0.2) 35%,
    transparent 70%
  );

  filter: blur(20px);
  z-index: 0;
}

/* VIDEO */
.video-bg {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;

  opacity: 0.25; /* depois pode aumentar */
  z-index: 0;
}

/* CONTEÚDO */
.content {
  position: relative;
  z-index: 1;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 70px 36px 45px;
  color: white;
}

/* TOPO */
.top {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: -40px;
}

/* LOGO */
.logo {
  width: 95px;
  margin-bottom: 18px;
}

.logo img {
  width: 100%;
  object-fit: contain;
}

/* TEXTO */
.text {
  text-align: center;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  margin: 0;
  letter-spacing: -1px;
}

p {
  margin-top: 8px;

  font-size: 14px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.65);
}

/* BOTÕES */
.bottom {
  width: 100%;
}

/* BOTÃO LARANJA */
.btn-primary {
  --background: #f39200;
  --background-hover: #f39200;
  --background-activated: #f39200;
  --color:#ffffff;
  --border-radius: 999px;

  height: 52px;

  font-size: 15px;
  font-weight: 600;

  margin-bottom: 16px;

  text-transform: none;
}

/* BOTÃO LOGIN */
.btn-secondary {
  --border-color: rgba(255, 255, 255, 0.9);
  --color: #ffffff;
  --border-radius: 999px;

  height: 52px;

  font-size: 15px;
  font-weight: 600;

  text-transform: none;
}
